 .about {
 	display: flex;
 	margin-top: 5em;
 	flex-wrap: wrap;
 	flex-direction: column;
	background-color: #056;;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	border: 3px double darksalmon;
	border-radius: 8px;
}

.about img{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%;
}

.about p {
	display: flex;
	font-size: 20px;
	font-weight: bold;
	line-height: 10%;
}